#build
[Oo]bj/
[Bb]in/
packages/

# globs
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
*.user
*.tar.gz
paket.exe
tools/consul
tools/consul.zip
tools/data/
AssemblyVersionInfo.fs
build/
src/Utils/AssemblyVersionInfo.cs
src/Utils/packages.config
src/Utils/Program.cs
src/Utils/Properties/AssemblyInfo.cs
src/Utils/Utils.csproj
src/Utils/Utils.sln
src/.vs/config/applicationhost.config
paket-files/
consul
consul.zip
