#build
[Oo]bj/
[Bb]in/
packages/
paket.template

# globs
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
*.user
*.tar.gz
paket.exe
tools/consul
tools/consul.zip
tools/data/
tools/c:\\audit.log
AssemblyVersionInfo.fs
build/
src/Utils/AssemblyVersionInfo.cs
src/Utils/packages.config
src/Utils/Program.cs
src/Utils/Properties/AssemblyInfo.cs
src/Utils/Utils.csproj
src/Utils/Utils.sln
src/.vs/config/applicationhost.config
paket-files/
consul
consul.zip
serf/
tools/consul.exe
vault
vault.zip
vaultData/
src/Settings.FSharpLint
tools/vault.exe
audit.log
