source https://nuget.org/api/v2
framework: net45

nuget Chiron
nuget FSharp.Core
nuget FsCheck
nuget Fuchu
nuget Fuchu.FsCheck
nuget Hopac
nuget Http.fs
nuget NodaTime
nuget NuGet.CommandLine
nuget Aether
nuget FParsec
github haf/YoLo YoLo.fs

group Test
redirects: on
source https://nuget.org/api/v2
nuget FSharp.Core

